# Default ignored files
/shelf/
/workspace.xml
# CodeStream ignored files
/../../react-eshop\.idea/codestream.xml
# Datasource local storage ignored files
/../../../../../../:\Users\Pepe\react-tutorial\react-eshop\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
